<%- include('header_user') %>
<div class="content">
    <p>You are friends with:</p>
    <ul>
        <%
            if (friends.length == 0) {
                %>
                    <li>No connections yet</li>
                <%
            } else {
                for (let friend of friends) {
                    %>
                    <li><%- friend.fullName %> (<a href="posts_friend?friend=<%- friend.id %>">View Posts</a>)</li>
                    <%
                }
            }
        %>
    </ul>
    <p>You can friend with:</p>
    <ul>
        <%
            if (notFriends.length == 0) {
                %>
                    <li>You are already friends with everyone</li>
                <%
            } else {
                for (let friend of notFriends) {
                    %>
                        <li><%- friend.fullName %> (<a href="friend_add?friend=<%- friend.id %>">Connect</a>)</li>
                    <%
                }
            }
        %>
    </ul>
</div>
